
.main-container {
  margin-top: 10vw;
}
.edit-icon{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  font-size: 25px
}
.popover-content {
    align-items: center;
  padding: 20px; /* Adjust the padding as needed */
}






