<div class="main-container">
  <ion-card class="TotalSpendingCard">
    <ion-card-header>
      <ion-card-title>{{totalSpend}}$</ion-card-title>
      <ion-card-subtitle>Monthly Spending</ion-card-subtitle>

      <!-- edit icon start-->
      <ion-icon name="add-outline" id="add-icon" class="edit-icon"> </ion-icon>
      <!-- edit icon end-->

      <!-- adding page  -->
      <ion-popover trigger="add-icon" triggerAction="click" reference="trigger">
        <ng-template>
          <ion-list>
            <ion-item>
              <ion-input
                label="Category"
                placeholder="Enter category"
                labelPlacement="floating"
                [clearInput]="true"
                #categoryInput
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                label="Title"
                placeholder="Enter title"
                labelPlacement="floating"
                [clearInput]="true"
                #titleInput
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                label="Amount"
                placeholder="Enter amount"
                labelPlacement="floating"
                [clearInput]="true"
                #amountInput
              ></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="block" (click)="addData()">Save</ion-button>
        </ng-template>
      </ion-popover>
      <!-- adding page   -->
    </ion-card-header>

    <ion-card-content>
      <ion-segment [(ngModel)]="selectedSeg">
        <ion-segment-button *ngFor="let cate of Category" [value]="cate">
          <ion-label>{{cate}}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-list *ngIf="selectedSeg">
        <ion-item *ngFor="let item of metadata[selectedSeg]">
          <ion-label>{{ item.title }}</ion-label>
          <ion-note slot="end" color="dark">{{ item.amount }} $ </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>
